<html>
<head>
<title>Herwantapeili</title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
<link rel='stylesheet' href='/css/main.css'>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:900' rel='stylesheet' type='text/css'>
</head>
<body>
<div id='content'>
{% block content %}
<h2>No content</h2>
{% endblock %}
</div>
<script src='/js/jquery-2.1.4.min.js'></script>
<script src='/js/jquery.color-2.1.2.min.js'></script>
<script src='/js/main.js'></script>
</body>
</html>
